body{
 height:500px;
 background-color:#290047;
}
#object-container {
  border: 10px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto; /* Center the container horizontally */
  background-color : #011d34;
}

#object-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.object-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.object-item h3 {
  margin: 0;
  font-weight: bold;
}

.object-item p {
  margin-top: 5px;
}

/* Customize colors and styles here */
.object-item {
  background-color: #5a0896;
  color: #333;
}

.object-item h3 {
  color: #000;
}

.object-item p {
  color: #fff;
}

